body{
    margin: 0;
    padding: 0;
    background: #262626;
}

.container{
    width: 400px;
    height: 250px;
    background: black;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 200px auto;
    perspective: 50em;
    box-sizing: border-box;
    transition:  .5s;
    position: relative;
    border: 1px rgba(255, 255, 255, .2);
}

.container img{
    width: 100%;
    transition: .5s;
    transform-origin: 0 100%;
}

.textbox{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    opacity: 0;
    background: #f00;
    padding: 20px 30px;
    transform: rotateX(-90deg);
    transform-origin: 50% 0%;
    transition: .5s;
}

.textbox h1, .textbox p{
    line-height: 1.3em;
}

.container:hover img{
    transform: rotateX(90deg);
    opacity: 0;
}

.container:hover .textbox{
    opacity: 1;
    transform: rotateX(0deg);
}